.dashboard-nav {
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  height: 70px;
  z-index: 4;
  padding-left: 94px;
  padding-right: 24px;
  justify-content: space-between;

  .left-side {
    display: flex;
    align-items: center;

    .navbar-brand {
      width: 100px;
      height: 34px;
      background: #cfd4ed;
    }

    .menu-button {
      background: transparent;
      border: none;
      margin-left: 124px;
    }
  }

  .right-side {
    display: flex;
    gap: 24px;
  }
}
